@media (max-width: 1200px)
    .pwrapper
        min-width: 850px
    .pnav
        margin-left: 0
    .pshare
        right: 0%
    .see_what
        min-width: 900px

@media (max-width: 1000px)
    .home
        padding: 80px 50px 0 50px
    .pick_header
        flex-direction: column
        margin-left: 0px
        width: 100%
    .pick_title
        margin-bottom: 10px
    .pick_descr
        margin-top: 30px
    .pwrapper
        width: 100%
    .pmain-block
        padding-left: 100px
    .pmaket
        width: 100%
        margin-left: 0
    .pbox2
        width: 100%
        margin-left: 50px
        margin-right: 10px
    .pdescr
        width: 100%
    .pshare
        right: 10%
        margin-top: 50px
    .people_maket
        height: 1300px
        padding: 0 50px 0 50px
        display: block
    .people_block1
        width: 100%
        text-align: center
    .people_block2
        margin-top: 50px
    .people_img
        width: 200px
        height: 200px
    .people_box1
        justify-content: center

@media (max-width: 500px)    
    .home_title
        font-size: 93px
        margin-top: 70px
    .home_chapter
        font-size: 12px
    .home_descr
        width: 310px
        font-size: 10px
    .pick_title
        font-size: 48px 
    .home_bl
        margin-top: 80px
    .pick_descr
        text-align: center
    .home_search_box
        &:hover
            .home_search_txt
                width: 100px
    .home
        padding: 80px 20px 0 20px
    .pmenu 
        flex-direction: column
    .pwrapper
        min-width: 0
    .pmenu li
        margin: 0 auto
    .pslide
        width: 200px
        height: 270px